.corpo{
    background-color: darkred;
    color: black;
    text-align: center;
    border: 10px;
    border-style: groove;
    border-color: darkslateblue;
}

#imagem-estudante{
    border: solid 10px blue;
    width: 500px;
    height: 300px;
}

p{
    color: deepskyblue;
    font-size: 20px;
}

#link{
    color: aqua;
    text-decoration: none;
}

#link:hover{
    color: brown;
    font-size: 15px;
}
